@charset "utf-8";
/* Deep Purple, Blue, Green, Amber, Deep Orange, Indigo, Purple, Light Blue, Teal, Lime, Orange, Pink, Red, Grey, White */
.userNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cmn-click {
  cursor: pointer;
}
.list-enter-active,
.list-leave-active,
.list-move {
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.list-enter {
  opacity: 0;
  -webkit-transform: translateX(50px) scaleY(0.5);
          transform: translateX(50px) scaleY(0.5);
}
.list-enter-to {
  opacity: 1;
  -webkit-transform: translateX(0) scaleY(1);
          transform: translateX(0) scaleY(1);
}
.list-leave-active {
  position: absolute;
}
.list-leave-to {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.fade-enter-active,
.fade-leave-active,
.fade-move {
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
.updated-episodes-fade-enter-active,
.updated-episodes-fade-leave-active {
  transition: opacity 0.5s;
}
.updated-episodes-fade-enter,
.updated-episodes-fade-leave-to {
  opacity: 0;
}

@charset "utf-8";
/* Deep Purple, Blue, Green, Amber, Deep Orange, Indigo, Purple, Light Blue, Teal, Lime, Orange, Pink, Red, Grey, White */
.userNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cmn-click {
  cursor: pointer;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}
#main-wrapper {
  max-width: 2000px;
  position: relative;
  min-height: 100%;
  height: auto;
  margin-bottom: -75px;
}
/*    margin-top = header height
    margin-bottom = footer height
 */
#main-container {
  padding-bottom: 75px;
  /*** circa SAME AS FOOTER HEIGHT, SAME AS WRAPPER MARGIN-BOTTOM ***/
}
#footer {
  height: 75px;
  /*** SAME AS WRAPPER MARGIN-BOTTOM, SAME AS CONTENT PADDING-BOTTOM ***/
  margin-top: -75px;
}
#footer .copyright {
  margin-top: 15px;
  font-size: 0.8rem;
}
#navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
