.cmn-loader-container.cmn-cube-grid {
  width: 40px;
  height: 40px;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: cmn-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: cmn-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cmn-loader-container.cmn-cube-grid .cmn-loader-cube.cmn-loader-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
